<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card>
      <ion-img src="assets/images/header.png"></ion-img>

<ion-card-header>
<ion-card-title>
Welcome
</ion-card-title>
<ion-card-subtitle>
  This app is a social media platform for artist - and it's all about visiuals
</ion-card-subtitle>

</ion-card-header>
<ion-card-content>
  <div class="signin-btns">
<ion-button fill="solid" shape="round" class="loginbtn ">Login

</ion-button>


<ion-button fill="outline" shape="round" color="dark" >SignIn</ion-button>

  </div>
</ion-card-content>

    </ion-card>
</ion-content>
